<router-outlet></router-outlet>
<div class="btn-container" [ngClass]="{'bg_light-box': theme_mode,'bg_dark-box': !theme_mode}"><button (click)="changeTheme()" class="theme-button" [ngClass]="{'bg_light-box': theme_mode,'bg_dark-box': !theme_mode}"><fa-icon class="btn-img" [icon]="icon"></fa-icon></button></div>
<div class="main-box d-flex flex-column align-items-center py-5" [ngClass]="{'bg_light-body': theme_mode,'bg_dark-body': !theme_mode}">
  <img src={{img_profile}} alt="" class="profilepic my-3 rounded-circle" [ngClass]="{'bg_light-box': theme_mode,'bg_dark-box': !theme_mode}"/>
  <h4 class="title my-1">@dragonite</h4>
  <p class="subtitle my-1 text-center">This is a quick website built in Angular 11🔥 <br>
    All my official links are here! 🔗
  </p>
  <a href={{link.url}}
   *ngFor="let link of links" target="_blank">
    <div class="card d-flex flex-row px-4 py-3 align-items-center"  [ngClass]="{'bg_light-box': theme_mode,'bg_dark-box': !theme_mode}"style="width: 325px;" >
      <img class="d-block socialicon rounded-circle" src={{link.imgUrl}} alt="">
      <p class="card-text">{{link.text}}</p>
   </div>
  </a>
</div>

