/* You can add global styles to this file, and also import other style files */
$bg_light-body : #fafafa;
$bg_light-box : #ffffff;
$bg_dark-body : #121212;
$bg_dark-box : #1e1e1e;
$bg_hover-gray : rgb(167, 167, 167);
$px_50 : 50px;
